<div class="wrapper">
  <div class="container">
    <div class="row">
      <h1 class="text-center fs-title">NDD qui expirent dans mois d'un mois</h1>
        <strong><p class="text-center fs-subtitle">Il reste <%=@all_domain_count%> noms de domaine sur OVH</p></strong>
        <%@arry.each do |info|%>
          <%info["domain"]%>
          <% exp =  info["expiration"]%>
          <% date = Date.parse exp%>
          <% Date.today %>
          <% diff = Date.today - date %>
          <%diff.to_i %>
          <% if diff > -30 %>
            <ul>
            <div class="col-md-4  col-xs-12">
              <%=info["domain"]%>
            </div>
            <div class="col-md-4 col-xs-12">
              <%= date.strftime("%d/%m/%Y")%>
            </div>
            <div class="col-md-4 col-xs-12">
              <%=form_tag("/pages/:id", method: :get) do %>
                <%= hidden_field_tag :ndd, info["domain"]%>
                <%= submit_tag "Voir infos", class: "next action-button", :formtarget => "_blank" %>
              <%end%>
            </div>
            </ul>
          <%end%>
        <%end%>
    </div>
  </div>
</div>

