<div class="text-center">
  <h1>Information sur <%=@resultat["domain"]%></h1>

  <p>Ce nom de domaine a été créé le (Année/Mois/Jour): <%=@resultat["creation"]%></p>
  <p>Il expire le (Année/Mois/Jour): <%=@resultat["expiration"]%></p>
  <p>Le renouvellement se fait de manière: "<%=@resultat["renewalType"]%>"</p>

  <%if @auth%>
    <p>Voici le code auth <%=@auth%></p>
  <%end%>

  <p><%=@is_unlocking%></p>


  <%if @is_locked%>
    <%=form_tag(controller: "pages", action: "edit") do %>
      <%= hidden_field_tag :ndd, @resultat["domain"]%>
      <%= submit_tag("Déverouiller le nom de domaine") %>
      <%end%>
  <%end%>
</div>


