<div class="wrapper">
  <div class="container">
    <div class="text-center">
      <h1 class="fs-title">Information sur <%=@resultat["domain"]%></h1>
        <div class="fs-subtitle">
          <p>Ce nom de domaine a été créé le (Année/Mois/Jour): <%=@resultat["creation"]%></p>
          <p>Il expire le (Année/Mois/Jour): <%=@resultat["expiration"]%></p>
          <p>Le renouvellement se fait de manière: "<%=@resultat["renewalType"]%>"</p>

          <%if @email == "contact"%>
            <% var1 = "@" %>
            <p>Voici l'email de contact asoccié au NDD:  <%=@email + "#{var1}" + @resultat["domain"]%></p>
            <%else%>
            <p>Il n'y a pas d'email de contact associé à ce compte</p>
          <%end%>

          <%if @get_alias_id.count > 1%>
            <p class="disclamer-color">Attention il y a des alias: De: <%=@alias['from']%>  A: <%=@alias['to']%></p>
            <%else%>
            <p>Il n'y a pas d'alias</p>
          <%end%>

          <%if @auth %>
              <%if @gandi_operation_running == [] %>
                <p id="auth">Voici le code Auth:<%=@auth%></p>
                  <%=form_tag(controller: "gandi_api", action: "update", ) do %>
                    <%= hidden_field_tag :ndd, @resultat["domain"]%>
                    <%= hidden_field_tag :auth, @auth%>
                    <%= submit_tag "Transférer sur Gandi", class: "action-button-red", id: "unlock-alert" %>
                  <%end%>
              <%else%>
                <p>Une action est déjà en cours sur ce nom de domaine</p>
                  <%=form_tag("/gandi_api/show", :method => :get ) do %>
                    <%= hidden_field_tag :ndd_in_process, @resultat["domain"]%>
                    <%= submit_tag "Voir l'étape sur gandi", class: "action-button-red" %>
                  <%end%>
              <%end%>
          <%end%>

          <p><%=@is_unlocking%></p>
        </div>

      <%if @is_locked%>
        <%=form_tag(controller: "pages", action: "edit") do %>
          <%= hidden_field_tag :ndd, @resultat["domain"]%>
          <%= submit_tag "Déverouiller le NDD", class: "action-button-lg" %>
        <%end%>
      <%end%>

      <form action="/" method="get", id="msform">
            <input type="submit" value = "Page d'accueil", class = "action-button", id = "test_alert">
      </form>
    </div>
  </div>
</div>

<script>
  $("#unlock-alert").click(function () {
       alert("Vous allez transférer un NDD");
   });
</script>

